// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'variables';
@import 'box-sizing';
@import 'base';
@import 'grid';


.modal-container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $gutter;
  background: $haze;
  background-position: center center;
}

.card {
  width: 65%;
  margin: auto;
  padding: 0;
  background-color: $card-background;
  box-shadow: $background-shadow;
}

.log-call-container {
  display: flex;
  flex-wrap: wrap;
}

// .call-title {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   max-width: 60rem;
//   margin: $gutter;
//   background: $brand-white;
//   color: $brand-light-grey;
//   box-shadow: $brand-shadow;
// }



.log-call {
  display: flex;
  flex-wrap: wrap;
}

.log-call {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 2rem 2rem;
}

.log-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 2rem 2rem;
}

.log-item__label {
  color: $brand-light-grey;
  display: flex;
  flex-grow: 1;
}

.log-item__input {
  flex-grow: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-bottom: $brand-border;
  outline: none;
  background: $brand-white;
  font-size: 1.2rem;
}

  &::-webkit-input-placeholder {
    color: $input-color;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: $brand-border;
  padding-left: .5em;
}

.save-button {
  font-size: 1rem;
  border: 0;
  border-radius: 0.2rem;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: $brand-primary;
  color: $brand-white;
}
